@import 'variables.scss';
@import 'mixins.scss';
@import 'portfolio.scss';
@import 'icomoon.scss';
/*@import 'animation.scss';*/
body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  position: relative;

  width: 100%;
  height: 100%;

  color: black;
  background-color: #fff;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;

  margin: 0 0 35px;

  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;

  margin: 0 0 25px;
  @media(min-width: 768px) {
    font-size: 18px;
    line-height: 1.6;

    margin: 0 0 35px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;

    color: darken($primary, 20%);
  }
}

.mx-auto {margin: 0 auto !important}
.ml-auto {margin-left: unset!important}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  margin-bottom: 0;

  text-transform: uppercase;

  border-bottom: 1px solid fade-out(white, .7);
  background-color: black;
  .navbar-toggler {
    font-size: 14px;

    padding: 11px;

    color: white;
    border: 1px solid white;
  }
  .navbar-brand {
    font-weight: 700;
  }
  a {
    color: white;
  }
  
  .navbar-nav {
    .nav-item {
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background 0.3s ease-in-out;
      &:hover {
        color: fade(white, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }

  @media(min-width:992px) {
    padding-top: 20px;
    padding-bottom: 20px;

    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;

    border-bottom: none;
    background: transparent;
    &.navbar-shrink {
      padding-top: 10px;
      padding-bottom: 10px;

      border-bottom: 1px solid fade-out(white, .7);
      background: #8dc63f;
    }
    .nav-link.active {
      outline: none;
      background-color: rgba(white, .3);
      &:hover {
        color: white;
      }
    }
  }
}

#subscribe {
  background: #f9f9f9;
  padding: 3em 0;

  .container {
    &:before, &:after {
      content: '';
      display: table;
    }
    &:after { 
      clear:both;
    }
  }


  h3 {
    float: left;
    width: 30%;
    top: 10px;
    font-size: 19px;
    margin-bottom: 0;
    position: relative;
    text-align: left;
  }

  @media screen and (max-width: 992px) {
    h3 {
        width: 100%;
        margin-bottom: 30px;
    }
  }

  form {
    width: 60%;
    float: right;
    position: relative;

    .icon {
      position: absolute;
      top: 50%;
      margin-top: -10px;
      left: 15px;
      font-size: 20px;
    }

    input[type="email"] {
      width: 100%;
      background: #ededed;
      border: none;
      padding-left: 50px;
      padding-right: 170px;
    }

    input[type="submit"] {
      position: absolute;
      right: 0;
      top: 0;
      margin-right: -4px;
      height: 54px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 20px;
      font-weight: 300;
      width: 160px;
    }

    .form-control {
      box-shadow: none;
      background: transparent;
      border: 2px solid rgba(0, 0, 0, 0.1);
      height: 54px;
      font-size: 18px;
      font-weight: 300;
    }
  }

  @media screen and (max-width: 992px) {
    form {
      width: 100%;
    }
  }
}



/* 


#subscribe {
  background: #f9f9f9;
  padding: 3em 0;


  .container:before {
    content: '';
    display: table;
  }


  h3 {
    float: left;
    width: 30%;
    top: 10px;
    font-size: 26px;
    margin-bottom: 0;
    position: relative;

    label {
      font-weight: 300;
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: bold;
    }


  form {
    width: 60%;
    float: right;
    position: relative;

    .icon {
      position: absolute;
      top: 50%;
      margin-top: -10px;
      left: 15px;
      font-size: 20px;
    }

    input[type="email"] {
      width: 100%;
      background: #ededed;
      border: none;
      padding-left: 50px;
      padding-right: 170px;
    }

    input[type="submit"] {
      position: absolute;
      right: 0;
      top: 0;
      margin-right: -4px;
      height: 54px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 20px;
      font-weight: 300;
      width: 160px;
    }
  }
} */

/* @media screen and (max-width: 992px) {
  #subscribe {
    h3 {
      width: 100%;
      margin-bottom: 30px;
    }
    form {
      width: 100%;
    }
}


@media screen and (max-width: 480px) {
  #subscribe form #fh5co-icon {
    position: absolute;
    top: 26px;
  }
}
@media screen and (max-width: 480px) {
  #subscribe form input[type="email"] {
    margin-bottom: 10px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 480px) {
  #subscribe form input[type="submit"] {
    position: relative;
    width: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
} */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2a2d36;
  opacity: .54;
}
.masthead {
  display: table;

  width: 100%;
  height: auto;
  padding: 200px 0;

  text-align: center;

  color: white;
  /*background: url('../img/wallpaper.png') no-repeat bottom center scroll;*/
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  background-attachment: fixed;
  position: relative;

  background-repeat: no-repeat;

  /*background-color: transparent;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      position: relative;
      width: 100%;*/
  .intro-body {
    display: table-cell;

    vertical-align: middle;
    .brand-heading {
      font-size: 50px;
    }
    .intro-text {
      font-size: 18px;
    }

    .btn-primary {
      padding: 20px 30px !important;
      min-width: 200px;
      font-size: 18px;
    }
  }
  @media(min-width:768px) {
    height: 100%;
    padding: 0;
    .intro-body {
      .brand-heading {
        font-size: 100px;
      }
      .intro-text {
        font-size: 22px;
      }
    }
  }
}

.btn-circle {
  font-size: 26px;

  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;

  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;

  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
  &:focus,
  &:hover {
    color: white;
    outline: none;
    background: fade-out(white, .9);
  }
}

.content-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;  
}

.download-section {
  color: white;
  background: url('../img/downloads-bg.jpg') no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#map {
  width: 100%;
  height: 300px;
}
/*@media(min-width:992px) {
  .content-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  #map {
    height: 350px;
  }
}*/

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;

  border-radius: 0;
}

.btn-primary {
  
  background: #8dc63f;
  color: #fff;
  border: 2px solid #8dc63f;
  border-radius: 5px;

  padding: 0 30px;
  min-width: 200px;
  outline: 0;

  &:hover {
    background: #99cc53;
    border: 2px solid #99cc53;
    color: #fff;
  }
}

.btn-default {
  color: $primary;
  border: 1px solid $primary;
  background-color: transparent;
  &:focus,
  &:hover {
    color: black;
    border: 1px solid $primary;
    outline: none;
    background-color: $primary;
  }
}

ul.banner-social-buttons {
  margin-top: 0;
  @media(max-width: 1199px) {
    margin-top: 15px;
  }
  @media(max-width:767px) {
    li {
      display: block;

      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

footer {
  padding: 50px 0;
  p {
    font-size: 14px;

    margin: 0;
  }
}

#hoh-footer {
  padding-bottom: 0;

  a {
    color: #6a7885;

    &:hover {
      text-decoration: underline;
    }
  }

  .hoh-footer-widget {
    h3 {
      font-size: 18px;
      font-weight: 400;  
    }

    .hoh-links {
      padding: 0;
      margin: 0;
    }

    .hoh-links {
      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 15px;
        line-height: 24px;

        a {
          color: #6a7885;

          &:hover {
            text-decoration: underline;
          }
        }
      }      
    }
  }
}

@media screen and (max-width: 992px) {
  #fh5co-footer {
    .fh5co-footer-widget {
      margin-bottom: 30px;
      float: left;
      width: 100%;
    }
  }
}

.hoh-social {
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;
    display: inline;

    a {
      padding: 4px 7px;
      font-size: 22px;

      &:hover {
        text-decoration: none !important;
        color: #8dc63f !important;
      }
    }
  }
}


::-moz-selection {
  background: #fcfcfc;
  background: fade-out(white, .8);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: fade-out(white, .8);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

